sphinx>=4.0.0
sphinx_rtd_theme>=1.0.0
myst-parser==2.0.0
sphinxcontrib-applehelp>=1.0.0
sphinxcontrib-devhelp>=1.0.0
sphinxcontrib-htmlhelp>=2.0.0
sphinxcontrib-jsmath>=1.0.0
sphinxcontrib-qthelp>=1.0.0
sphinxcontrib-serializinghtml>=1.0.0
Django>=3.0
django-crispy-forms>=1.9.0
pillow>=8.0.0
